<p id="notice"><%= notice %></p>

<p>
  <strong>Order no:</strong>
  <%= @order.order_no %>
</p>

<p>
  <strong>Date of order:</strong>
  <%= @order.date_of_Order %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Billing add:</strong>
  <%= @order.billing_add %>
</p>

<p>
  <strong>Shipping add:</strong>
  <%= @order.shipping_add %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
