<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @address.Name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @address.Phone %>
</p>

<p>
  <strong>Add l:</strong>
  <%= @address.Add_L %>
</p>

<p>
  <strong>Add l2:</strong>
  <%= @address.Add_L2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.State %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.Country %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.Country %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @address.Pin %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
